.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerShadow {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.containerColorConfig {
    display: flex;
    gap: 3px;
}

.containerColorConfig > *{
    height: 35px;
}

.colorValue {
    width: 90%;
    border: 1px solid var(--secondary-color);
    padding: 10px;
}

.inputColor {
    border: none;
}
